window {
  background-color: transparent;
}

.overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.15s ease-out;

  &.visible {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.container {
  padding: 24px;
  border-radius: 8px;
  background-color: #212121;

  transform: translateY(12px);
  opacity: 0;

  transition: none 0.15s ease-out;
  transition-property: transform, opacity;

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.password-entry {
  padding-right: 80px;
}
